body{
    margin: 0;
    
}
/* ====================NAV BAR========================== */
img{
    width: 100%;
    height:calc(100% - 30%);
}
.navbar{
    background-color: rgba(210, 105, 30, 0.383);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo img{
       float: left; 
    width: 150px; 
    
} 
.nav2 ul{
    margin: 20px;
    display: flex;
     justify-content: space-evenly;
}

li{
    color: rgb(1, 1, 1);
    text-decoration: none;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
ul li a{
    text-decoration: none;
    color: rgb(74, 72, 72);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul li a span{
    line-height: 15px;
    background-color: red;
    padding: 10px;
}



/* =================mision & vision====================== */

.container2{
    background-color: rgb(255, 255, 255);
    width:calc(100vw - 5px);
    height: 80vh;
    display: flex;
    /* margin: 20px; */
}
.column1{
    background-color: rgba(217, 216, 225, 0.609);
    width: 70vw;
    height: 64vh;
    margin-right: 20px;
    margin-left: 230px;
    /* margin-bottom: 10px; */
    margin-top: 70px;
    border-radius: 10px;
}
.column1 h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(2, 2, 2);
    font: 39px 'sans serif';
    font-weight: lighter;
}
.column2{
    background-color: rgba(228, 220, 220, 0.694);
    width: 70vw;
    height: 64vh;
    margin-right: 230px;
    /* margin-left: 20px; */
    /* margin-bottom: 10px; */
    margin-top: 70px;
    border-radius: 10px;
}

.column2 h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font: 39px 'sans serif';
    font-weight: lighter;
}


/* ================CORE VALUE========================================== */


.core{
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    height: 0vh;
    /* margin-top: 60px; */
}
.core h1{
 color: rgba(21, 143, 54, 0.679);
 font-family:'poppins';
 font-size: 40px;
 text-align: center;
 text-transform: uppercase;
 padding-top: 20px;
 /* margin-top: 30px; */
}
.core h1 strong{
    color: rgba(30, 80, 232, 0.63);
    font-family: sans-serif;
    font-size: 40px;
}
.container{
    background-color: rgb(214, 206, 206);
      display: flex;
      /* margin-top: 30px; */
      width: 100vw;
      height: 89vh;
      /* margin: 20px; */
}
.left{
    background: transparent;
    width: 50%;
    height: 80%;
    margin-right: 20px;
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 200px;

}
.left-up{
    width: 100%;
    height: 40%;
    background-color: rgba(189, 184, 195, 0.709);
    margin-bottom: 20px;
    border-radius: 2px;
}
/* .left-up:hover{
    transform: scale(1.2);
    transition: 1s;
} */
.left-up h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.771);
    font-family:  'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.771);
    font-family: 'poppins','Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin: 30px 65px 30px 65px;
}

.left-down{
    width: 100%;
    height: 40%;
    background-color: rgb(189, 184, 195, 0.709);
    border-radius: 2px;
}
/* .left-down:hover{
    transform: scale(1.2);
    transition: 1s;
} */
.left-down h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(2, 2, 2, 0.771);
    font-family:  'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.771);
    font-family: 'poppins','Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin: 30px 65px 30px 65px;
}

.right{
    background: transparent;
    width: 50%;
    height: 80%;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 200px;
   
}
.right-up{
    width: 100%;
    height: 40%;
    background-color: rgb(189, 184, 195, 0.709);
    margin-bottom: 20px;
    border-radius: 2px;
  
}
/* .right-up:hover{
    transform: scale(1.2);
    transition: 1s;
} */
.right-up h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.771);
    font-family:  'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}

.right-down{
    width: 100%;
    height: 40%;
    background-color: rgb(189, 184, 195, 0.709);
}
/* .right-down:hover{
    transform: scale(1.2);
    transition: 1.6s ease-in-out;
} */
.right-down h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.771);
    font-family:  'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}
/* ==========================BOXES COUNT=================== */

.container3{
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
}

.box1{
    background-color: yellow;
    width: 60%;
    height:190px;
    margin-left: 100px;
    margin-right: 20px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border-radius: 5px;
}
.bold{
    color: black;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}
.box2{
    background-color: rgb(255, 0, 212);
    width: 60%;
    height:190px;
    margin-right: 20px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border-radius: 5px;
}
.box3{
    background-color: rgb(255, 0, 93);
    width: 60%;
    height:190px;
    margin-right: 20px;
    /* margin-top: 20px;
    margin-bottom: 20px;*/
    border-radius: 5px;
}
.box4{
    background-color: rgb(0, 149, 255);
    width: 60%;
    height:190px;
    margin-right: 100px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border-radius: 5px;
}


